WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.db
WOFFCEdit/.vs/Win32SimpleSample/v15/ipch/AutoPCH/WIN32SIMPLESAMPLE-b61102aa/TOOLMAIN-9ab8bee5/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v15/Browse.VC.opendb
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/c21284705c601c08/TOOLMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/2e1fdc45146e81c2/MFCMAIN.ipch
WOFFCEdit/.vs/Win32SimpleSample/v17/ipch/AutoPCH/a7c30327cdc5c752/MFCFRAME.ipch